.App {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding-top: 1em;
}

.navbar + div {
  padding: 0 20px;
}

button {
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid var(--accent);
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  cursor: pointer;
}

button.primary {
  background: var(--accent);
  color: var(--bg-secondary);
}

button.secondary {
  background: none;
  color: var(--text-primary);
}