.auth-container,
.add-habit,
.settings {
  color: var(--text-primary);
  margin: 0 auto;
  max-width: 1000px;
}

.auth-container h2,
.add-habit h2,
.settings h2 {
  color: var(--accent);
  margin-bottom: 16px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.auth-container form,
.add-habit form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-container input,
.add-habit input,
.settings input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  border-radius: 6px;
  color: var(--text-primary);
  font-size: 1rem;
}

.auth-container input:focus,
.add-habit input:focus,
.settings input:focus {
  outline: 2px solid var(--accent);
  border-color: var(--accent);
}
