.navbar {
  display: flex;
  max-width: 1200px;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 45px;
  background: var(--bg-secondary, #14213D);
}

.navbar .logo {
  color: var(--accent, #FCA311);
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 48px;
}

.navbar a {
  text-decoration: none;
}

.navbar .links a {
  transition: color 0.3s ease;
  color: var(--text-primary, #FFF);
  text-align: center;
  font-size: 20px;
}

.navbar .links a:hover {
  color: var(--accent, #FCA311);
}

.navbar .cta {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar .cta a {
  color: inherit;
}
